@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
  font-family: 'Poppins', sans-serif;
  }
 
  .ui.cards > .card > .image {
    height: 250px;
    padding: 20px;
    background: #fff;
    margin: auto;
  }
  .ui.cards > .card > .image > img {
    height: 100%;
    max-width: 100%;
    width: auto;
  }
  .ui.cards > .card > .content > .header {
    height: 48px;
    overflow: hidden;
    margin-bottom: 5px;
  }
  .ui.cards > .card > .content > .description {
    height: 36px;
    margin-bottom: 0px;
    overflow: hidden;
  }
  .ui.cards > .card .meta.price {
    margin-bottom: 5px;
    font-size: 18px;
    color: #333;
    font-weight: 600;
  }
  
  .ui.cards > .card .meta.price > a {
    font-size: 1.3rem;
    color: #222;
  }
  
  .ui.menu.fixed {
    height: 60px;
    padding-top: 15px;
  }
  
  .ui.grid.container {
    margin-top: 45px;
  }
  
  .ui.grid > .row {
    background: #fff;
  }
  .ui.grid > .row > .column.lp {
    padding: 20px 40px 20px 20px;
    align-self: flex-start !important;
  }
  .ui.grid > .row > .column.rp {
    padding: 20px 20px 20px 40px;
    text-align: left;
    align-self: flex-start !important;
  }
  
  .ui.grid > .row > .column > img,
  .ui.grid > .row > img {
    height: 100%;
  }
  .ui.placeholder .header:not(:first-child):before,
  .ui.placeholder .image:not(:first-child):before,
  .ui.placeholder .paragraph:not(:first-child):before {
    display: none;
  }
  
  .ui.label,
  .ui.labels .label {
    font-size: 22px;
  }
  
  .column.rp h1 {
    color: #333;
  }
  .column.rp p {
    font-size: 18px;
    color: #777;
  }
  .ui.placeholder.segment .column .button,
  .ui.placeholder.segment .column .field,
  .ui.placeholder.segment .column textarea,
  .ui.placeholder.segment .column > .ui.input {
    background-color: #ff3e6c;
    border: 1px solid #ff3e6c;
    color: #fff;
    font-size: 18px;
    margin-left: 0;
  }
  .four.column.wide{
    width: 24.25%!important;
  }

  @media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
    }
  }
  .h-custom{
    margin-top: 90px;
  }
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: 0.75em;
    padding-right: 0.75em;
  }
  
  .card-registration .select-arrow {
    top: 13px;
  }
  
  .bg-grey {
    background-color: #eae8e8;
  }
  
  @media (min-width: 992px) {
    .card-registration-2 .bg-grey {
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }
  
  @media (max-width: 991px) {
    .card-registration-2 .bg-grey {
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }


  .crt-btns{
    display: grid;
    grid-template-columns: 90% 10%;
  }
  .crt-btns-lft{
    text-align: end;
  }

  .new-prd{
    margin-top: 7rem;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.form-control:focus{
  box-shadow: none!important;
  border-color: none!important;

}
.error{
  border: 1px solid red!important;
}
.success{
  /* border: 1px solid green!important; */
}